body{
  background-color: red;
  padding: 5px;
}

main {
  margin: 15px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;

}

nav{
  border: 2px solid red;
  border-radius: 10px;
  margin: 5px;

}
article{
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(119, 219, 128);

}

h1{
  text-align: center;
}

.adatok{
  display: flex;
  flex-wrap: wrap;
}

.card{
  flex: 0 0 25%;
  margin:5px;
}

.img-thumbnail{
  height: 100px;
  width: 100px;
}